/* =========================
   buat_novel.css
========================= */

body{

  margin:0;
  padding:30px;

  font-family:Arial;

  background:
  linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.75)
  ),
  url("bg.jpg");

  background-size:cover;

  color:white;
}

.box{

  max-width:900px;

  margin:auto;

  background:
  rgba(15,15,15,0.45);

  backdrop-filter:blur(12px);

  padding:30px;

  border-radius:25px;
}

input,
textarea{

  width:100%;

  margin-top:10px;

  margin-bottom:20px;

  padding:15px;

  border:none;

  border-radius:15px;

  background:
  rgba(255,255,255,0.08);

  color:white;

  outline:none;

  box-sizing:border-box;
}

textarea{

  height:400px;

  resize:none;
}

button{

  border:none;

  padding:14px 20px;

  border-radius:15px;

  background:
  linear-gradient(
    135deg,
    #2457ff,
    #6a00ff
  );

  color:white;

  font-weight:bold;

  cursor:pointer;
}
