/* =========================
   novel.css
========================= */

body{

  margin:0;
  padding:20px;

  font-family:Arial, sans-serif;

  background:
  linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.75)
  ),
  url("bg.jpg");

  background-size:cover;
  background-position:center;

  color:white;

  min-height:100vh;
}

.topbar{

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:30px;
}

.top-buttons button{

  margin-left:10px;
}

button{

  border:none;

  border-radius:15px;

  padding:12px 20px;

  background:
  linear-gradient(
    135deg,
    #2457ff,
    #6a00ff
  );

  color:white;

  font-weight:bold;

  cursor:pointer;

  transition:0.25s;
}

button:hover{

  transform:scale(1.05);

  box-shadow:
  0 0 20px rgba(120,100,255,0.7);
}

.novel-container{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
}

.novel-card{

  background:
  rgba(15,15,15,0.45);

  backdrop-filter:blur(12px);

  border-radius:20px;

  padding:20px;

  cursor:pointer;

  transition:0.25s;

  border:
  1px solid rgba(255,255,255,0.08);
}

.novel-card:hover{

  transform:translateY(-5px);

  box-shadow:
  0 0 25px rgba(120,100,255,0.5);
}

#addBtn{

  position:fixed;

  right:20px;

  bottom:20px;

  width:65px;

  height:65px;

  border-radius:50%;

  font-size:30px;
}
